/* BEGIN MEYER RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END MEYER RESET */

html {
  box-sizing: border-box;
  background-color: navy;
  color: bisque;
  height: 100vh;
  background-image: url("images/backgrounds/clear-portrait-640w.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a,
a:visited {
  text-decoration: none;
  color: bisque;
}

/* BEGIN HEADER STYLES */

header {
  display: none;
  justify-content: center;
  border-bottom: 2px solid black;
}

.title {
  font-size: 3rem;
  padding: 1rem;
}

/* END HEADER STYLES */

/* BEGIN MAIN CONTENT STYLES */

/* * {
  border: 1px solid orange;
} */

.mainContent {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent * {
  padding: 5px;
}

.location {
  margin-top: 5vh;
  font-size: 1.5rem;
}

.temp {
  font-size: 3rem;
}

.buttonContainer {
  display: flex;
}

.changeLocation {
  display: block;
}

.hidden {
  display: none;
}

.sevenDayForecast,
.otherWeatherInfo {
  background-color: rgba(39, 39, 39, 0.6);
  border-radius: 20px;
  /* margin-right: 4vw;
  margin-left: 4vw;
  margin-top: 3vh; */
}

.forecastContainer {
  display: flex;
  align-items: center;
}

.dayRange {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.otherWeatherInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other {
  width: 30%;
  margin-right: 3%;
  margin-left: 3%;
}

/* END MAIN CONTENT STYLES */

/* BEGIN FOOTER STYLES */

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.95);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

footer * {
  padding-left: 3px;
  padding-right: 3px;
}

.sourceContainer,
.copyrightContainer {
  display: flex;
  align-items: center;
}

/* END FOOTER STYLES */

@media (min-width: 700px) {
  /* if this condition changes, update renderBackgroundImage in modifyDOM.js*/
  html {
    background-image: url("images/backgrounds/clear-landscape-1200w.jpg");
  }

  header {
    display: flex;
  }
  ul {
    display: flex;
  }

  li {
    /* display: flex; */
    flex-direction: column;
  }

  a:hover {
    text-decoration: underline;
  }
}
